[submodule "mifos-mobile/source/mifos-mobile"]
	path = mifos-mobile/source/mifos-mobile
	url = git@github.com:openMF/mifos-mobile.git
[submodule "mobile-wallet/source/mobile-wallet"]
	path = mobile-wallet/source/mobile-wallet
	url = https://github.com/openMF/mifos-pay.git
[submodule "mifos-x-field-officer-app/source/mifos-x-field-officer-app"]
	path = mifos-x-field-officer-app/source/mifos-x-field-officer-app
	url = git@github.com:therajanmaurya/mifos-x-field-officer-app.git
[submodule "kmp-project-template/source/kmp-project-template"]
	path = kmp-project-template/source/kmp-project-template
	url = https://github.com/openMF/kmp-project-template.git
