[submodule "mifos-mobile/source/mifos-mobile"]
	path = mifos-mobile/source/mifos-mobile
	url = git@github.com:openMF/mifos-mobile.git
[submodule "mobile-wallet/source/mobile-wallet"]
	path = mobile-wallet/source/mobile-wallet
	url = https://github.com/openMF/mobile-wallet.git
